@model IEnumerable<MvcApp.ViewModel.PersonModel>

<table>
    <tr>
        <th>Anrede</th>
        <th>Name</th>
    </tr>
    @foreach(var person in Model)
    {
        <!-- Entweder oder -->
        <!--@await Component.InvokeAsync("Person", new { Person = person});-->
        <vc:person person="@person"></vc:person>
    }
</table>