@model MvcApp.ViewModel.PersonModel[]
@{

}

<table>
    <tr>
        <th>Anrede</th>
        <th>Vorname</th>
        <th>Nachname</th>
    </tr>
    @foreach(var person in Model)
    {
        <tr>
            <td>@person.Salutation</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
        </tr>
    }
</table>