@model MvcApp.ViewModel.PersonModel

<tr>
    <td><enum-text value="@Model.Salutation" /></td>
    <td><a class="my-link" asp-action="Details" asp-route-id="@Model.Id">@Model.FirstName @Model.LastName</a></td>
</tr>